<div class="sign">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="responsive">
        <tbody>
            <tr>
                <td>
                    <img src="{{HOST}}/images/rocketman.png"
                        srcset="{{HOST}}/images/rocketman.png 1x, {{HOST}}/images/rocketman@2x.png 2x" width="129" />
                    <br />
                    <br />
                    <div style="text-align: justify;">

                        Приятной печати!<br />
                        Твой GoPrint
                        <a href="{{FRONTEND}}/" class="toApp" style="float: right;"><img src="{{HOST}}/images/button.png"
                                srcset="{{HOST}}/images/button.png 1x, {{HOST}}/images/button@2x.png 2x"
                                width="146" /></a>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>