Доброго дня.<br />
Реєстрація в сервісі GO Print пройшла успішно!
<br />
<br />
Ваш логін {{ login }}
<br />
Перейдіть за <a href="{{ link }}" target="_blank">посиланням</a> та встановіть пароль для входу в особистий кабінет
<br />
<br />