{{!< base}}

Привет!
Вчера вы зарегистрировались на GoPrint, но еще не загрузили ни одного файла.
Посмотрите видео как работает наше приложение.

<iframe width="100%" height="568" src="https://www.youtube.com/embed/8I7jUOzsPLU?list=PLhZ93d3aUWCUsqYmJm1DzbytG_OBLLH14"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>


{{> sign}}