{{!< base}}

Привет!<br /><br />
Добро пожаловать в GoPrint! Теперь вы будете печатать быстрее, проще и
удобнее. Пожалуйста, помните, если вы хотите распечатать файлы, у вас есть
наше бесплатное приложение GoPrint.
<br /><br />
Осталось всего 3 шага:<br /><br />
<ol>
    <li><span style="text-decoration: line-through;">Зарегистрируйтесь на GoPrint</span></li>
    <li>
        Загрузите файлы, которые хотите распечатать
    </li>
    <li>
        Зайдите в приложение
        рядом с принтером и нажмите «Печать» на мобильном телефоне
    </li>
    <li>Наслаждайтесь легкой печатью</li>
</ol>

{{> sign}}