<%- include('partials/mail-header'); %>
<table>
  <tr>
    <td>
      Рішення: негативне рішення по заявці №<%= applicationId %>, клієнт <%= fio %>, щодо видачі
      кредиту.
    </td>
  </tr>
</table>
<%- include('partials/mail-footer'); %>
