<%- include('partials/mail-header'); %>
<table>
  <tr>
    <td>
      Рішення: позитивне рішення по заявці №<%= applicationId %>, клієнт <%= fio %>, щодо видачі
      кредиту. Зайдіть в особистий кабінет за посиланням <%= link %> для продовження оформлення
      кредиту.
    </td>
  </tr>
</table>
<%- include('partials/mail-footer'); %>
