<%- include('partials/mail-header'); %>
Упс, обліковий запис заблоковано. Зверніться до адміністратора за телефоном +38(097) 345-54-73 або
напишіть на lkp@max-credit.com.ua
<%- include('partials/mail-footer'); %>
