<%- include('partials/mail-header'); %>
<table>
  <tr>
    <td>
      Статус: Фінансування угоди по заявці №<%= applicationId %> клієнт <%= fio %>
    </td>
  </tr>
</table>
<%- include('partials/mail-footer'); %>
