<%- include('partials/mail-header'); %>
<table>
  <tr>
    <td>
      Доопрацювання: по заявці №<%= applicationId %>, клієнт <%= fio %>, необхідно внести
      коригування анкетних даних. Перейдіть за посилання <%= link %>
    </td>
  </tr>
</table>
<%- include('partials/mail-footer'); %>
