<%- include('partials/mail-header'); %>
<table>
  <tr>
    <td>
      Доброго дня.<br />
      Вам надано доступ до особистого кабінету партнера ТОВ «МАКС КРЕДИТ».
      <br />
      <br />
      Ваш логін <%= login %>
      <br />
      Ваш пароль <% if (password) { %><%= password %><% } %>
      <br />
      <br />
      Для входу в особистий кабінет ТОВ «МАКС КРЕДИТ» перейдіть за посиланням: partners.max-credit.com.ua
      <br />
      <br />
      У разі виникнення питань, щодо роботи сервісу, звертайтеся за телефоном:
      (067) 767-48-87
      або пишіть:
      partner@max-credit.com.ua
      <br />
      З повагою<br />
      Команда ТОВ «МАКС КРЕДИТ»
    </td>
  </tr>
</table>
<%- include('partials/mail-footer'); %>
