<%- include('partials/mail-header'); %>
<table>
  <tr>
    <td>
      Привет!<br /><br />
      Добро пожаловать в GoPrint! Теперь вы будете печатать быстрее, проще и
      удобнее. Пожалуйста, помните, если вы хотите распечатать файлы, у вас есть
      наше бесплатное приложение GoPrint.
      <br /><br />
      Осталось всего 3 шага:
      <span style="text-decoration: line-through;"
        >1. Зарегистрируйтесь на GoPrint</span
      >
      2. Загрузите файлы, которые хотите распечатать 3. Зайдите в приложение
      рядом с принтером и нажмите «Печать» на мобильном телефоне 4.
      Наслаждайтесь легкой печатью
      <br /><br />
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td>
              <img src="https://goprint.in.ua/images/rocketman.svg" width="129"/>
              <br />
              Приятной печати!<br />
              Твой GoPrint
            </td>
            <td>
              <a href="https://goprint.in.ua/"><img src="https://goprint.in.ua/images/gobutton.svg" width="146"/></a>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
<%- include('partials/mail-footer'); %>
