<%- include('partials/mail-header'); %>
<table>
  <tr>
    <td>
      Hello! Ви отримали даний лист у відповідь на запит скидання пароля. Перейдіть за посиланням
      <%= link %> та створіть новий пароль для входу в особистий кабінет «МАКС КРЕДИТ».
    </td>
  </tr>
</table>

<%- include('partials/mail-footer'); %>
