<%- include('partials/mail-header'); %>
<table>
  <tr>
    <td>
      Доброго дня.<br />
      <br />
      Перейдіть за <a href="<%= link %>" target="_blank">посиланням</a> та встановіть новий пароль для входу в особистий кабінет
      <br />
      <br />
    </td>
  </tr>
</table>
<%- include('partials/mail-footer'); %>
