<%- include('partials/mail-header'); %>
<table>
  <tr>
    <td>
      Рішення: відмовлено по заяці №<%= applicationId %>, клієнт <%= fio %>
    </td>
  </tr>
</table>
<%- include('partials/mail-footer'); %>
