<%- include('partials/mail-header'); %>
<table>
  <tr>
    <td>
      Рішення: попередньо узгоджено по заяці №<%= applicationId %>, клієнт <%= fio %>
    </td>
  </tr>
</table>

<%- include('partials/mail-footer'); %>
