<%- include('partials/mail-header'); %>
<table>
  <tr>
    <td>
      Нове повідомлення до служби підтримки<br/><br/>
      Клієнт: <%= name %><br/>
      Адреса: <%= email %><br/>
      Телефон: <%= phone %><br/>
      Повідомлення:<br/>
      <%= message %>
    </td>
  </tr>
</table>
<%- include('partials/mail-footer'); %>
