<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Index Test Page</title>
    <link rel="stylesheet" href="/css/base.css" />
  </head>
  <body>
    TEST PAGE
  </body>
</html>
