<html>

<head>
  <title>{{title}}</title>
  {{> baseStyles}}
  {{{block "pageStyles"}}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td>&nbsp;</td>
      <td class="container">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body header">
          <tr>
            <td></td>
            <td class="container">
              <img src="{{HOST}}/images/goprint.png"
                srcset="{{HOST}}/images/goprint.png 1x, {{HOST}}/images/goprint@2x.png 2x" width="207">
            </td>
            <td></td>
          </tr>
        </table>
        <div class="content">
          <!-- START CENTERED WHITE CONTAINER -->
          <table role="presentation" class="main">
            <!-- START MAIN CONTENT AREA -->
            <tr>
              <td class="wrapper">
                <table>
                  <tr>
                    <td>
                      {{{body}}}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- END MAIN CONTENT AREA -->
          </table>

          <!-- END CENTERED WHITE CONTAINER -->


          <!-- START FOOTER -->
          <div class="footer">
            <div class="social">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="responsive">
                <tr>
                  <td>
                    <div class="social-list">
                      <a href="https://t.me/goprint_ukraine">
                        <img width="20" src="{{HOST}}/images/telegram.png"
                          srcset="{{HOST}}/images/telegram.png 1x, {{HOST}}/images/telegram@2x.png 2x" />Telegram
                      </a>
                      <a href="https://www.facebook.com/goprint.ukraine"><img width="20"
                          src="{{HOST}}/images/facebook.png"
                          srcset="{{HOST}}/images/facebook.png 1x, {{HOST}}/images/facebook@2x.png 2x" />Facebook</a>
                      <a href="https://www.instagram.com/goprint.ukraine/">
                        <img width="20" src="{{HOST}}/images/instagram.png"
                          srcset="{{HOST}}/images/instagram.png 1x, {{HOST}}/images/instagram@2x.png 2x" />Instagram
                      </a>
                      <a href="https://goprint.in.ua">
                        <img width="20" src="{{HOST}}/images/printer.png"
                          srcset="{{HOST}}/images/printer.png 1x, {{HOST}}/images/printer@2x.png 2x" />Друкуй зараз
                      </a>
                      <a href="mailto:info@goprint.in.ua">
                        <img width="20" src="{{HOST}}/images/email.png"
                          srcset="{{HOST}}/images/email.png 1x, {{HOST}}/images/email@2x.png 2x" />Написати
                      </a>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="apps">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="responsive">
                <tr>
                  <td>
                    <a href="https://play.google.com/store/apps/details?id=com.goprint">
                      <img width="120" src="{{HOST}}/images/googleplay.png"
                        srcset="{{HOST}}/images/googleplay.png 1x, {{HOST}}/images/googleplay@2x.png 2x" /></a>
                    <a
                      href="https://apps.apple.com/us/app/goprint-%D1%82%D0%B5%D1%80%D0%BC%D1%96%D0%BD%D0%B0%D0%BB%D0%B8-%D0%B5%D0%BA%D0%BE-%D0%B4%D1%80%D1%83%D0%BA%D1%83/id1501689517?ign-mpt=uo%3D2">
                      <img width="120" src="{{HOST}}/images/appstore.png"
                        srcset="{{HOST}}/images/appstore.png 1x, {{HOST}}/images/appstore@2x.png 2x" /></a>
                  </td>
                </tr>
              </table>
            </div>
            <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td class="content-block">
                  <span class="apple-link">© 2020 GoPrint</span>
                </td>
              </tr>
              <tr>
                <td class="content-block">
                  <span class="apple-link"><a href="https://goprint.in.ua">goprint.in.ua</a></span>
                </td>
              </tr>
            </table>
          </div>
          <!-- END FOOTER -->
        </div>
      </td>
      <td>&nbsp;</td>
    </tr>
  </table>
  {{> scripts}}
</body>

</html>
